<!----------- Nav responsiva ----------->

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navResp">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo/logo.png" alt="" id="imgResp">
    </a>
  </div>
  <button class="navbar-toggler" (click)="toggleDisplay()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [hidden]="toogle" id="containerNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/lista">Lista</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/total">Total Arrecadado</a>
      </li>
    </ul>
  </div>

</nav>

<!-- ---------------------------------------------------------------------------- -->


<nav id="imgCont">

  <a class="navbar-brand" href="#">

    <img src="/assets/img/logo/logo.png">

  </a>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link active" href="/lista">Lista</a>
        <a class="nav-link active" href="/total">Total Arrecadado</a>
      </div>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>