<footer class="page-footer font-small teal pt-4 caixa">

    <div class="container-fluid text-center text-md-left" style="height: 70px; background-color: black;">
        <span style="color: white;">

            <strong>Feito com amor</strong>

        </span>
        <div class="d-flex justify-content-center">
            <span>
                <div class="heart">
                    <div class="square"></div>
                    <div class="circle top"></div>
                    <div class="circle left"></div>
                </div>
            </span>
            
        </div>
    </div>
</footer>